<div landing-container>

    <div text-center welcome-text>Choose a location</div>

  <div cards-container>
    <md-card item-card text-center routerLink="/drive">
      <img md-card-image src="assets/drive.svg" alt="Google Drive">
      <md-card-content>
        Browse Google Drive Content
      </md-card-content>
    </md-card>

    <md-card item-card text-center disabled="true">
      <img md-card-image src="assets/dropbox.svg" alt="Dropbox">
      <md-card-content>
        Browse Dropbox Content
      </md-card-content>
    </md-card>
  </div>

</div>