[landing-container] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    [welcome-text] {
        font-size: 2em;
        padding: 6% 0 1%;
    }
    [cards-container] {
        margin: 1% 8%;
        text-align: center;
        [item-card] {
            transition: all 0.5s cubic-bezier(.4, 0, .2, 1);
            display: inline-block;
            margin: 20px;
            width: 130px;
            cursor: pointer;
            [md-card-image] {
                padding: 5%;
                width: calc(90% + 48px);
            }
        }
        [item-card]:not([disabled="true"]):hover {
            transform: scale(1.02);
            box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.55);
        }
        [item-card][disabled="true"] {
            background-color: #eaeaea;
            cursor: not-allowed;
            opacity: 0.6;
        }
    }
}