.bg-color-1 { background-color: #1f77b4; }
.bg-color-2 { background-color: #aec7e8; }
.bg-color-3 { background-color: #ff7f0e; }
.bg-color-4 { background-color: #ffbb78; }
.bg-color-5 { background-color: #2ca02c; }
.bg-color-6 { background-color: #98df8a; }
.bg-color-7 { background-color: #a55194; }
.bg-color-8 { background-color: #ff9896; }
.bg-color-9 { background-color: #9467bd; }
.bg-color-10 { background-color: #c5b0d5; }
.bg-color-11 { background-color: #8c564b; }
.bg-color-12 { background-color: #c49c94; }
.bg-color-13 { background-color: #e377c2; }
.bg-color-14 { background-color: #f7b6d2; }
.bg-color-15 { background-color: #7f7f7f; }
.bg-color-16 { background-color: #c7c7c7; }
.bg-color-17 { background-color: #bcbd22; }
.bg-color-18 { background-color: #dbdb8d; }
.bg-color-19 { background-color: #17becf; }
.bg-color-20 { background-color: #9edae5; }