/* You can add global styles to this file, and also import other style files */

// include material icon font
$material-design-icons-font-path: "~material-design-icons-iconfont/dist/fonts/";
@import "~material-design-icons-iconfont/dist/material-design-icons";

// include angular material
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 

// clear out html and body
html, body {
    margin: 0;
    padding: 0;
}
